{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}/">
</head>
<body>
    <section>
        <div class="create_container">
            <input
            class="create_input"
            type="text"
            placeholder="Я ищу..."
            />
            <button class="create_button">Поиск</button>
        </div>
        <div class="image">
            <h2 class="heading">
                Хай, ребята! Меня зовут мистер Кенгуру!)
            </h2>
        </div>
        <div class="container">
            
        </div>
    </section>
</body>
</html>